.articl{
    margin: 26px auto;
    box-sizing: border-box;
    padding: 16px;
    width: 938px;
    height: min-content;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
/* Стили для обертки одной статьи*/
.articl__header {
    box-sizing: border-box;
    display: flex;
    min-height: 55px;
}

/* Стили для содержимого статьи*/
.articl__contant{
    width: 682px;
}

/* Стили для заголовка статьи*/
.articl__title {
    display: inline;
    overflow: hidden;
    max-width: 160px;
    height: 28px;
    margin: 0 12px 5px 0;
    font-size: 20px;
    font-weight: 500;
    color: #1890FF;
}

.articl__heart {
    font-size: 16px;
    margin-right: 5px;
}

/* Стили для контейнера тегов статьи*/
.articl__tagbox {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
    height: 20px;
    align-content: center;
    overflow: hidden;
    max-width: 140px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
}

/* Стили для тегов*/
.articl__tag {
    margin: 0;
    font-size: 12px;
    color: rgb(0, 0, 0)
}

.articl__discriptionandbuttons {
    display: flex;
}

/* Стили для описания статьи*/
.articl__discription {
    overflow: hidden;
    height: 45px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);   
}

.articl__button {
    background-color: transparent;
    border: 1px solid #52C41A;
    color: #52C41A;
    border-radius: 5px;
    width: 78px;
    height: 32px;
}

.articl__button_edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 14px;
    
}


.articl__button:nth-child(2) {
    margin-left: auto;
    margin-right: 12px;
    border-color: #F5222D;
    color: #F5222D;
}

.articl__button_none{
    display: none;
}
/* Стили для div с содержанием информации об авторе статьи*/
.articl__author {
    margin-left: auto;
    margin-right: 12px;
}

/* Стили для имени автора*/
.articl__name {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
/* Стили для даты создания поста*/
.articl__date {
    justify-self: end;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.50);
    margin: 0;
}

/* Стили для аватарки автора статьи*/
.articl__imgbox {
    overflow: hidden;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
/* Стили для аватарки автора статьи*/
.articl__img {
    width: 46px;
    height: 46px;
}


/* Стили для rкартинок в статьях что бы не вылазили за блок*/
img {
    max-width: 800px;
}

.articl__main {
    overflow: hidden;
    max-width: 900px;
}
